.CenterMargin{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.espaciado{
    padding-bottom: 4%;
}

.tamano{
    width: 50%;
    margin-top: 3%;
}

.margin{
    margin-right: 5%;
    margin-top: 2%;
}

.font{
    font-size: 1em;
}

.circle{
    width: 12.5%;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    line-height: 1.42857;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 3%;
}

ion-card{
    width: 100%;
    margin-left: 0%;
}

.dialog-window {
    height: 350px;
    width: 100%;
    border: 1px black solid;
}
  
.scrollable-content {
    height: 100%;
    overflow: auto;
    background-color: #EDEDED;
}

.imageb{
    margin-bottom: 5%;
}

.marginbb{
    margin-top: 8%;
    margin-bottom: 10%;
}

.labelespace{
    margin-right: 5%;
}

.text-right{
    margin-left: 65%;
}

.marginb{
    margin-bottom: 5%;
}