<ion-content>
  <div class="CenterMargin text-center">
    <h2>Sucursal</h2>
    <div class="espaciado">
      <label>Direccion:</label>
      <input type="text" class="form-control text-center" placeholder="Direccion" aria-label="Direccion" aria-describedby="basic-addon1">
    </div>
    <div class="espaciado">
      <label>Numero de Telefono:</label>
      <input type="number" class="form-control text-center" placeholder="Numero" aria-label="Direccion" aria-describedby="basic-addon1">
    </div>
    <label><h2>Menu</h2></label>
      <button type="button" class="btn btn-info font circle"><ion-icon md="md-add"></ion-icon></button>
      <div class="dialog-window">
        <div class="scrollable-content text-left">
          <ion-card>
              <img src="../assets/image/recetas-de-pollo.jpg" class="imageb"/>
              <label class="labelespace font">Precio: 50 Bs</label>
              <label class="font">Categoria: Perfecta</label>
              <label class="font">Nombre: Asada Shino</label>
              <label class="font">Informacion: Asada Shino (朝田 詩乃, Asada Shino?), known as Sinon (シノン, Shinon?) in «Gun Gale Online» (GGO), ALfheim Online (ALO)</label>
              <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
              </div>
          </ion-card>
          <ion-card>
              <img src="../assets/image/recetas-de-pollo.jpg" class="imageb"/>
              <label class="labelespace font">Precio: 50 Bs</label>
              <label class="font">Categoria: Perfecta</label>
              <label class="font">Nombre: Asada Shino</label>
              <label class="font">Informacion: Asada Shino (朝田 詩乃, Asada Shino?), known as Sinon (シノン, Shinon?) in «Gun Gale Online» (GGO), ALfheim Online (ALO)</label>
              <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
              </div>
          </ion-card>
        </div>
      </div>
      <button type="button" class="btn btn-info font segundoespacio marginbb" (click)="imprimirbool()">Registrar</button>
  </div>
</ion-content>
