<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" id="icon" alt="User Icon" />
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group fadeIn second">
        <label for="exampleInputEmail1">Correo Electronico</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                placeholder="Correo Electronico"
                [(ngModel)]="email" required>
      </div>
      <div class="form-group fadeIn third">
        <label for="exampleInputPassword1">Contraseña</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Contraseña"
                [(ngModel)]="password" required>
      </div>
      <div align="center" class="fadeIn fourth">
        <input  type="submit" class="btn btn-danger" value="Ingresar">
      </div>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="message">
      {{ message }}
    </div>
  </div>
</div>
