<ion-content>
  <div class="text-center">
    <h1>Producto</h1>
    <div>
      <label>Nombre:</label>
      <input type="text">
    </div>
    <div>
      <label>Precio:</label>
      <input type="number">
    </div>
    <div>
      <label>Categoria:</label>
      <input type="text">
    </div>
    <img src="recetas-de-pollo" alt="nel">
    <div>
      <label>Informacion:</label>
      <input type="number">
    </div>
  </div>
</ion-content>
