form{
    margin: 30px
}

.card{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margen{
    margin-top: 35%;
    padding-left: 10%;
    padding-right: 10%;
}