<div class="margen">
  <div class="text-center" style="margin: 10px">
    <p>Le enviaremos un mensaje a su correo electronico para renovar la contraseña de su cuenta, por favor siga las instrucciones adjuntas en el correo.</p>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ingrese su Correo Electronico</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico" [(ngModel)]=email>
  </div>
  <div class="text-center">
    <button  type="submit" class="btn btn-danger" (click)="send()">Enviar</button>
  </div>
  <div class="text-center" style="margin: 10px">
    <a routerLink="/">Iniciar Sesion</a>
  </div>
</div>