<div class="background">
  <div class="card">
      <div align="center">
        <img src="assets/images/angular.png" alt="Angular">
      </div>
      <form>
        <div align="center" style="margin: 10px">
          <p>Le enviaremos un mensaje a su correo electronico para renovar la contraseña de su cuenta, por favor siga las instrucciones adjuntas en el correo.</p>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico" [(ngModel)]="email" required>
        </div>
        <div align="center">
          <button  type="submit" class="btn btn-danger" (click)="send()">Enviar</button>
        </div>
        <div align="center" style="margin: 10px">
          <a routerLink="/">Iniciar Sesion</a>
        </div>
      </form>
    </div>
</div>
