<div class="background">
  <div class="card">
    <div align="center">
      <img src="assets/images/angular.png" alt="Angular">
    </div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electronico o Nombre de Usuario</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico o Nombre de Usuario" [(ngModel)]="emailusername">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="password">
      </div>
      <div align="center">
        <button  type="submit" class="btn btn-danger" (click)="login()">Iniciar Sesion</button>
      </div>
      <div align="center" style="margin: 10px">
        <a routerLink="/passwordrecovery">Olvide mi Contraseña</a>
      </div>
    </form>
  </div>
</div>

