<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav">
          <a class="nav-link navlogo text-center">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg">
          </a>
        <li class="nav-item">
          <a class="nav-link sidefrst" routerLink="/home/admins">
            <span class="textside">Administradores</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidefrst" routerLink="/home/delivery">
            <span class="textside">Repartidores</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidefrst" routerLink="/home/clients">
            <span class="textside">Clientes</span>
          </a>
        </li>
        <li class="nav-item fixed-bottom">
          <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="logout()">Cerrar Sesion</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
