<ion-content>
    <div class="CenterMargin text-center">
      <h2>Sucursal</h2>
      <div class="espaciado">
        <label>Direccion:</label>
        <input type="text" class="form-control text-center" placeholder="Direccion" aria-label="Direccion" aria-describedby="basic-addon1">
      </div>
      <div class="espaciado">
        <label>Numero de Telefono:</label>
        <input type="number" class="form-control text-center" placeholder="Numero" aria-label="Direccion" aria-describedby="basic-addon1">
      </div>
        <button type="button" class="btn btn-info font segundoespacio marginbb" (click)="imprimirbool()">Registrar</button>
    </div>
  </ion-content>
