.CenterMargin{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.espaciado{
    padding-bottom: 2%;
}

.font{
    font-size: 1em;
}

.esp{
    margin-right: 3%;
}

.segundoespacio{
    margin-bottom: 7%;
}

.text-right{
    margin-left: 65%;
}

.marginbb{
    margin-top: 5%;
}