.headerimage{
    height: 50px;
    width: 50px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bg-header{
    background-color: white;
    margin: 20px
}
.h2{
    color:white;
    margin:20px;
}
.btn{
    margin:0;margin-right: -10px;
}
.card{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    width: 100%;
}