<div class="bg-header">
  <table>
    <tr>
      <th> 
        <img style="margin: 5px;" align="left" class="headerimage" src="{{userphotoURL}}" alt="Foto de Perfil">
      </th>
      <th align="center" style="width: 100%;">
        <h3 align="center" >Bienvenido, {{username}}</h3>
      </th>
      <th> 
        <button  align="right" class="btn" (click)="logout()" alt="Cerrar Sesion">
          <img class="headerimage" src="assets/images/logout.png"/>
        </button>
      </th>
    </tr>
  </table>
</div>

<div class=" card bg-white p-4 mx-auto" style="width:97.5%; margin-botom:5vh;">
  <div class="card-body text-center">
    <h4 class="card-title">Restaurantes</h4>
    <p>Maneje todos sus restaurantes aqui!.</p>
  </div>
  <div class="mx-auto" style="width:90%; margin-bottom:10vh;">
    <input #myInput type="text" class="form-control form-control-lg mb-2" (input)="filterItem(myInput.value)" placeholder="Buscar...">
    <div class="card" style="width: 100%">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col" class="text-right"><button style="margin-right:10px" id="addRestaurant" type="button" class="btn btn-success" routerLink="/registerrestaurant"s>Añadir un nuevo Restaurante</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.nombre }}</td>
            <td class="text-right">
              <a class="btn btn-outline-info mr-2" href="#">Restaurantes</a>
              <a class="btn btn-outline-primary mr-2" href="#">Detalles</a>
              <a class="btn btn-outline-danger" href="#">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>