<div class="card col-8 offset-2 margintopbottom">
  <div class="card-body text-center">
    <h4 class="card-title">Añadir Restaurante</h4>
  </div>
</div>
<div class="card col-8 offset-2 top-padding" style>
  <form>
    <div class="form-group">
      <label for="listname">Nombre</label>
      <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingrese su nombre" [(ngModel)]="restaurant.name">
    </div>
    <div class="form-group">
      <label for="listname">Razon Social</label>
      <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingrese su Razon Social" [(ngModel)]="restaurant.socialreason"> 
    </div>
    <div class="form-group">
      <label for="listname">Nit</label>
      <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingrese su NIT" [(ngModel)]="restaurant.nit">
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-block btn-primary">Añadir</button>
    </div>
  </form>
</div>
