<ion-header>
  <ion-toolbar class="text-center">
      <button class="btn floating-right" (click)="signOut()"><ion-icon name="log-out" class="icon-grande"></ion-icon></button>
    <ion-title>Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="CenterMargin text-center">
    <div class="espaciado">
      <label>Nombre:</label>
      <input type="text" class="form-control text-center" placeholder="Nombre del Restaurante" aria-label="Nombre del Restaurante" aria-describedby="basic-addon1">
    </div>
    <div>
      <label>NIT:</label>
      <input type="number" class="form-control text-center" placeholder="NIT" aria-label="NIT" aria-describedby="basic-addon1">
    </div>
    <div>
      <label>Razon Social:</label>
      <ion-item>
          <ion-textarea class="text-center more" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </div>
    <img [src]="imagen64">
    <input type="file" accept="image/*" name="fileinput" (change)="insertimage($event)" #fileinput class="input-file" style="visibility:hidden">
    <button type="button" class="btn btn-info font segundoespacio" (click)="abririmagen()">Actualizar Imagen</button>
    <br>
    <label for="check" class="esp">El mismo menú para cada sucursal</label>
    <input type="checkbox" class="tamano" id="check" (change)="toggleEditable($event)">
    <label class="pluss-sucursal"><h2>Sucursales</h2></label>
    <button type="button" class="btn btn-info font circle" (click)="agregarsucursal()"><ion-icon md="md-add"></ion-icon></button>  
    <div class="dialog-window">
      <div class="scrollable-content text-left">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dirección:<br>Calle Gral. Achá #166 entre Baptista y Ayacucho<br><br>Telefono: 4510330</ion-card-title>
          </ion-card-header>
          <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
            <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
          </div>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dirección:<br>Av. Libertador Bolívar. #1154 (Frente al STADIUM)<br><br>Telefono: 4282085</ion-card-title>
          </ion-card-header>
          <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
            <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
          </div>
        </ion-card>
      </div>
    </div>
    <div id="oculto">
      <label><h2>Menu</h2></label>
      <button type="button" class="btn btn-info font circle"><ion-icon md="md-add" (click)="agregarproducto()"></ion-icon></button>
      <div class="dialog-window">
        <div class="scrollable-content text-left">
          <ion-card>
              <img src="../assets/image/recetas-de-pollo.jpg" class="imageb"/>
              <label class="labelespace font">Precio: 50 Bs</label>
              <label class="font">Categoria: Perfecta</label>
              <label class="font">Nombre: Asada Shino</label>
              <label class="font">Informacion: Asada Shino (朝田 詩乃, Asada Shino?), known as Sinon (シノン, Shinon?) in «Gun Gale Online» (GGO), ALfheim Online (ALO)</label>
              <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
              </div>
          </ion-card>
          <ion-card>
              <img src="../assets/image/recetas-de-pollo.jpg" class="imageb"/>
              <label class="labelespace font">Precio: 50 Bs</label>
              <label class="font">Categoria: Perfecta</label>
              <label class="font">Nombre: Asada Shino</label>
              <label class="font">Informacion: Asada Shino (朝田 詩乃, Asada Shino?), known as Sinon (シノン, Shinon?) in «Gun Gale Online» (GGO), ALfheim Online (ALO)</label>
              <div class="btn-group text-right marginb" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-brush"></ion-icon></button>
                  <button type="button" class="btn btn-secondary"><ion-icon md="md-trash"></ion-icon></button>
              </div>
          </ion-card>
        </div>
      </div>
  </div>
  <button type="button" class="btn btn-info font segundoespacio marginbb" (click)="imprimirbool()">Registrar</button>
</div>
</ion-content>
