.CenterMargin{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.espaciado{
    padding-bottom: 2%;
}

.more{
    height: 100%;
}

.font{
    font-size: 1em;
}

#oculto{
    display: none;
}

#check:checked~#oculto{
    display: block;
}

.tamano{
    width:17px;
    height:17px;
}

.esp{
    margin-right: 3%;
}

.segundoespacio{
    margin-bottom: 7%;
}

.pequeno{
    height: 80%;
    width: 50%;
}

.circle{
    width: 12.5%;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    line-height: 1.42857;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 3%;
}



.dialog-window {
    height: 350px;
    width: 100%;
    border: 1px black solid;
}
  
.scrollable-content {
    height: 100%;
    overflow: auto;
    background-color: #EDEDED;
}

.icon-grande{
      font-size: 1.5em;
      align-self: center;
}

.floating-right{
    float: right;
    height: 80%;
    width: 20%;
}

ion-title{
    float: right;
    margin-top: 2%;
    margin-right: 12%;
}

.text-right{
    margin-left: 65%;
}

.pluss-sucursal{
    margin-left: 12%;
}

.labelespace{
    margin-right: 5%;
}

.font{
    font-size: 1.1em;
}

.marginb{
    margin-bottom: 5%;
}

.imageb{
    margin-bottom: 5%;
}

.marginbb{
    margin-top: 8%;
}