<div class=" card bg-white p-4 mx-auto" style="width:97.5%; margin-botom:5vh;">
  <div class="card-body text-center">
    <h4 class="card-title">Administradores</h4>
    <p>Maneja todas las cuentas de los dueños de restaurantes aqui!.</p>
  </div>
  <div class="card mx-auto" style="width:90%; margin-bottom:10vh;">
    <input #myInput type="text" class="form-control form-control-lg mb-2" (input)="filterItem(myInput.value)" placeholder="Buscar...">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col" class="text-right"><button id="addAdmin" type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Añadir un nuevo Administrador</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems">
          <td>{{ item.name }}</td>
          <td class="text-right">
            <a class="btn btn-outline-info mr-2" href="#">Restaurantes</a>
            <a class="btn btn-outline-primary mr-2" href="#">Detalles</a>
            <a class="btn btn-outline-danger" href="#">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <!-- modal -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="card-body text-center">
          <h4 class="card-title">Añadir Administrador</h4>
        </div>
        <div class=" card col-8 offset-2 my-2 p-3">
          <form>
            <div class="form-group">
              <label for="listname">Nombre Completo</label>
              <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingresa su nombre">
            </div>
            <div class="form-group">
              <label for="listname">Nombre de Usuario</label>
              <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingresa su nombre de usuario">
            </div>
            <div class="form-group">
              <label for="listname">Correo</label>
              <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingresa su correo">
            </div>
            <div class="form-group">
              <label for="listname">Telefono</label>
              <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingresa su telefono">
            </div>
            <div class="form-group">
              <label for="listname">Password</label>
              <input type="text" class="form-control" name="listname" id="listname" placeholder="Ingresa su password">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-block btn-primary">Añadir</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
