.PrincipalIcon{
    font-size: 5em;
    margin-top: 30%;
    margin-left: 40%;
    margin-bottom: 0%;
}

.Title{
    margin-top: 0%;
    font-size: 2.6em;
    margin-left: 37%;
    margin-bottom: 0%;
}

.CenterMargin{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.espaciado{
    padding-bottom: 4%;
}

.color{
    color: blue;
}

.ButtonPropertys{
    margin-top: 6%;
    margin-bottom: 2%;
}

.LinkMargins{
    margin-left: 25%;
    margin-top: 0%;
}

.tamano{
    width: 80%;
}