<ion-content>
    <div>
      <ion-icon class="PrincipalIcon" name="logo-angular"></ion-icon>
      <p class="Title">Login</p>
    </div>
    <div class="CenterMargin text-center">
      <div class="espaciado">
        <label class="color">Nombre de Usuario:</label>
        <input type="email" class="form-control text-center" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]=user.email>
      </div>
      <div>
        <label class="color">Contraseña:</label>
        <input type="password" class="form-control text-center" placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon1" [(ngModel)]=user.password>
      </div>
    </div>
    <div class="ButtonPropertys text-center">
      <button type="button" class="tamano btn btn-info" (click)="login(user)">Iniciar Sesion</button>
    </div>
    <div class="LinkMargins">
      <button type="button" class="btn btn-link" align-text="center" (click)="recoverypassword()">Olvidé mi contraseña</button>
    </div>
      <div class="alert alert-danger text-center" role="alert" *ngIf="message">
        <b>{{message}}</b>
      </div>
  </ion-content>
